Package: cdatest-package
Version: 1.1
Section: base
Priority: optional
Architecture: all
Depends: bash
Maintainer: example <example@example.com>
Description: Package pour illustrer le fonctionnement des paquets deb
Homepage: https://github.com/jambonbill/makeDeb
